<div>
  <h1>Description Banner</h1>
</div>
{% schema %}
  {
    "name": "Description Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
