<div>
  <h1>Cols 2 Description</h1>
</div>
{% schema %}
  {
    "name": "2 Column with description",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
