<div>
  <h1>Overview Table</h1>
</div>
{% schema %}
  {
    "name": "Overview Table",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
